{
    "singleQuote": true,
    "tabWidth": 4,
    "overrides": [
        {
            "files": "*.jsonc",
            "options": {
                "trailingComma": "none"
            }
        }
    ]
}
